<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj Habitsa!</title>
</head>
<body>
    <h1>Dodaj nowe zadanie!</h1>
    <form action="#" method="post" th:action="@{/add}" th:object="${task}">
        <label for="name">Nazwa zadania:</label>
        <input type="text" th:field="*{name}" id="name" placeholder="Nazwa zadania">
        <label for="description">Opis zadania:</label>
        <input type="text" th:field="*{description}" id="description" placeholder="Opis zadania">
        <button type="submit">Zapisz</button>
    </form>
</body>
</html>